@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

/* Fonts */
body {
  background-color: #f7fafc; /* bg-gray-100 */
  color: #2d3748; /* text-gray-800 */
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Display", "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/sf-pro.woff2") format("woff2");
  font-display: swap;
}


@layer components {
  /* Ícons */
  .social-icon {
    @apply text-white text-lg p-2 rounded-full transition transform hover:scale-110;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .social-icon:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  /* Translations */
  .notranslate {
    unicode-bidi: plaintext !important;
  }
  @media (min-width: 1120px) {
    .custom-desktop\:block {
      display: block !important;
    }
  }
  
}
